*{margin:0;}
html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  /* background: url("https://i.pinimg.com/originals/13/ce/a3/13cea35dc9afab41121031f70b2d9f49.gif") center/cover no-repeat fixed; */

  /* background-image: linear-gradient(rgba(200, 200, 200, .3) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(200, 200, 200, .3) 1px, transparent 1px); */

 
  overflow-x:hidden;

}

.navcontent{
  display:flex;
  flex-wrap: wrap;
}
.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #F082AC;
  }



.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.clogo{





    display: flex;
width: 80px;
padding: 50px 64px;
flex-direction: column;
align-items: center;
gap: 10px;

}

/* Styles for screens less than 500 pixels wide */

@media (max-width: 428px) {
  /* Add your styles here */
  body {
    /* background-color: lightblue; */
    font-size: 16px;
    /* background-color: red */
    background-color: black
  }
  .logo{
      width:7em
  }
  .cheatsheet{
    width:'10em'
  }
}


   
   .cnav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
   }
.cnavpart2{
  display:flex;
align-items: center;
 
}


  



   @media (min-width: 919px) {
    .clogo{
    
      /* Set the desired width */
    width:20em;
     display: block; /* Ensures no extra space reserved for descender text */
     margin: 0; /* Reset margin */
     padding: 0; /* Reset padding */
     

   }

   .cbutton{

    display: flex;

height: 42px;

justify-content: space-between;
align-items: center;
flex-shrink: 0;
font-size:12px;
    border-radius: 8px;
background: linear-gradient(180deg, #8146FF 0%, #6633D2 100%);
    color:white

   }

   

   }
   @media (min-width: 500px) and (max-width: 919px) {
    .clogo{
    
      /* Set the desired width */
    width:20em;
     display: block; /* Ensures no extra space reserved for descender text */
     margin: 0; /* Reset margin */
     padding: 0; /* Reset padding */
    

   }
   .cbutton{

    display: flex;

height: 42px;

justify-content: space-between;
align-items: center;
flex-shrink: 0;
font-size:12px;
    border-radius: 8px;
background: linear-gradient(180deg, #8146FF 0%, #6633D2 100%);
    color:white

   }
  }
   @media (max-width: 500px)  {
    .clogo{
    
      /* Set the desired width */
      
    width:500px;
     display: block; /* Ensures no extra space reserved for descender text */
    
     /* position:absolute; */
     padding: 0; /* Reset padding */
     position:center;
    

   }

   .cbutton{

    
    display: flex;
    display:hidden;
    
height: 25px;

justify-content: space-between;
align-items: center;
flex-shrink: 0;
font-size:12px;
    border-radius: 8px;
background: linear-gradient(180deg, #8146FF 0%, #6633D2 100%);
    color:white

   }

   }

  
  
  

  .home{
    display: flex;
  }
  .text{
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }

 .courses{
  position: absolute;
  color:white;
  top: 60%; /* Move the container 50% from the top */
  left: 50%; /* Move the container 50% from the left */
  transform: translate(-80%, -80%); /* Center the container both horizontally and vertically */
 }

 .descriptionHeading{

    position: absolute;
    color:white;
    top: 160%; /* Move the container 50% from the top */
    left: 53%; /* Move the container 50% from the left */
    transform: translate(-80%, -80%); /* Center the container both horizontally and vertically */

 }
 .description {
    max-width: 800px;
    margin: 0 auto;
  }

  .full-size-div {
    background-color: white;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
  }
  .navbar {
    background-color: black !important;
  }

  @media (min-width: 0px)
  {
    .signin{
      visibility: hidden;
    }
  }

  /* styles.css or inline style */
.bigger {
  font-size: 1.5em; /* Adjust the size as needed */
}


.login{
  display:flex;
}

.custom-alert {
  color:white;
}